.header {
  box-shadow: 0px 4px 4px 0px #0000003D;
  background-color: #2196F3;
  color: #FFFFFF;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

nav {
  display: flex;
  height: 100%;
  margin-left: 62px;
}

a {
  padding: 20px;
  text-decoration: inherit;
  color: #FFFFFFB2;
  display: block;
}

.active {
  height: 100%;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #1E88E5;
}

@media (max-width: 540px) {
  nav {
    margin-left: 15px;
  }
}